{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/a5dd688fdf.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Philosophical Therapies</title>
    <link rel="stylesheet" href="{% static 'css/landingPageStyle.css' %}">
</head>

<body>

    <header>
        <section class="navigation">
            <p class="site-title">Psych<span><i class="fa-solid fa-brain"></i>Phil</span></p>
            <nav>
                <ul>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">OFFERINGS</a></li>
                    <li><a href="#">CAMPS</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li>
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook"></i>   </a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </section>
        {# I style it here because when I style from css it won't find the file. Maybe fix this. #}
        <section class="site-header" style=" background:
    linear-gradient(rgba(0,0,0,0.3),
    rgba(0,0,0,0.6)),
    url({% static '/images/clinic.png'%}) no-repeat center;
    background-size: cover;">
            <h1>A Clinic for the Deeper Minded</h1>
            <button>LEARN MORE</button>
        </section>
    </header>

    <main>
        <section class="welcome">
            <h2>Welcome to the PsychoPhil Clinic</h2>
            <p>Here we offer therapy for those who seek more than quick fixes. We practce all the legitimate deep therpaies. From Existential Therapy to Psychoanalysis, you name it!</p>
            <p>If you are interested, <span>talk to us now.</span></p>
        </section>
        <section class="offerts">
            <h2>Our Offerings</h2>
                <ul>
                    <li>
                        <a href="#">
                            <img src="{% static 'images/freud.jpg' %}" alt="Sigmund Freud Picture">
                            <h3>Freudian Psychoanalysis</h3>
                            <p>In this approach, the focus is on the unconscious mind rather than the conscious mind. It is built on the foundational idea that your behavior is determined by experiences from your past that are lodged in your unconscious mind.</p>
                        </a>
                    </li>
                    <li>...</li>
                    <li>...</li>
                    <li>...</li>
                    <li>...</li>
                    <li>...</li>
                </ul>
        </section>
        <section class="camps">
            <h2>Upcoming Camps</h2>
            <p>Lorem Ipsum ...</p>
            <ul>
                <li>
                    <img src="football.jpg" alt="football">
                    <section class="info">
                        <div>
                            <h3>Soccer Camp</h3>
                            <p>15h February 2019</p>
                        </div>
                        <div>
                            <p>$35</p>
                        </div>
                    </section>
                   ...              
            </ul>
        </section>
        ...
        <section class="more-info">
            <p>Lorem Ipsum ...</p>
            <button>ENROLL TODAY</button>
        </section>
    </li>
    <li>...</li>
    <li>...</li>               
    
    
    </main>

    <footer>
        <p>CopyRight 2014. All Rights Reserved.</p>
        <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </footer>

</body>

</html>