{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- Start Register Section -->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Candidates</h1>

            <!-- Start Register Form -->
            {% for candidate in candidates %}
                {{ candidate.user }}

                <a href="{% url 'accept candidate' pk=candidate.pk %}">
                    Accept
                </a>

                <a href="{% url 'refute candidate' pk=candidate.pk %}">
                    <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                </a>
            {% endfor %}
            <!-- End Register Form -->

        </div>
    </div>
    <!-- End Register Section -->

{% endblock %}