{% extends 'base/base.html' %}
{% block content %}

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Applications</h2>
                <p>Here the staff can accept and reject applicants for therapists</p>
            </div>
            <div class="row">
                {% for candidate in candidates %}
                    <div class="col-md-6">
                        <div class="icon-box">
                            <i class="bi bi-briefcase"></i>
                            <h4>
                                <a href="{% url 'details user' pk=candidate.user.pk %}">{{ candidate.user.profile.first_name }} {{ candidate.user.profile.last_name }}</a>
                                <button><a href="{% url 'accept candidate' pk=candidate.pk %}">
                                    Accept
                                </a></button>
                                <button><a href="{% url 'decline candidate' pk=candidate.pk %}">
                                    Decline
                                </a></button>
                            </h4>

                            <p>{{ candidate.motivation }}</p>
{#                            Note cloudinary download is not working for free users OR it does but you need to allow it#}
                            <a href="{{ candidate.cv.url }}">Download CV</a>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section><!-- End Services Section -->

    {#    <!-- Start Register Section -->#}
    {#    <div class="login-register-div">#}
    {#        <div class="login-register-box">#}
    {#            <h1>Candidates</h1>#}
    {##}
    {#            <!-- Start Register Form -->#}
    {#            {% for candidate in candidates %}#}
    {#                {{ candidate.user }}#}
    {#\#}
    {#                <a href="{% url 'accept candidate' pk=candidate.pk %}">#}
    {#                    Accept#}
    {#                </a>#}
    {##}
    {#                <a href="{% url 'refute candidate' pk=candidate.pk %}">#}
    {#                    <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">#}
    {#                </a>#}
    {#            {% endfor %}#}
    {#            <!-- End Register Form -->#}
    {##}
    {#        </div>#}
    {#    </div>#}
    {#    <!-- End Register Section -->#}

{% endblock %}