{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- Start Delete Profile Section -->
        <div class="delete-profile">
            <h1>
                Are you sure you want to Accept this candidate?
            </h1>
            <div class="sure-buttons">
                <form method="post" action="{% url 'accept candidate' pk=object.pk %}">
                <!-- Yes (Delete Profile) Button -->
                    <button>Yes</button>
                    {% csrf_token %}
                <!-- Go Back Button -->
                    <a class="edit-btn" href="javascript:history.back()">Go Back</a>
                </form>
            </div>
            <img src="{% static 'images/are_you_sure_cat.gif' %}" alt="are you sure cat git">
        </div>
    <!-- End Delete Profile Section -->
{% endblock %}