<nav>
    <ul>
        <li><a href="#">ABOUT US</a></li>
        <li><a href="#">OFFERINGS</a></li>
        <li><a href="#">CAMPS</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">CONTACT US</a></li>
        <li>
            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook"></i>   </a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </li>
    </ul>
</nav>