{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            {% if object.profile.image.url %}
                            <div>
                                <img src="{{ object.profile.image.url }}" alt="Profile Picture">
                            </div>
                            {% else %}
                            <div> Please upload a profile picture.</div>
                            {% endif %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>{{ object.profile.first_name }} {{ object.profile.last_name }}
                            {% if is_owner %}
                                <button><a href="{% url 'update user' object.pk %}">
                                    Edit
                                </a></button>
                                <button><a href="{% url 'delete user' object.pk %}">
                                    Delete
                                </a></button>
                            {% else %}
                                {% if user.is_authenticarted %}
                                <a href="#">
                                    <button>Contact</button>
                                </a>
                                    {% else %}
                                    <p><a href="{% url 'login user' %}">Log in</a> to contact therapist.</p>
                                    {% endif %}
                            {% endif %}

                        </h3>
                        <ul>
                            {#                            If contact form dont work i can just have contact details here#}
                            <li><strong>Email</strong>: {{ object.email }}</li>
                            <li><strong>Gender</strong>: {{ object.profile.gender }}</li>
                        {% if is_therapist %}
                            <li><strong>Schools Membership</strong>:
                                {% for therapy in therapies_member_of %}{{ therapy.name }}; {% endfor %}</li>
                        {% else %}
                            <li><strong>Stauts</strong>: Client
                        {% endif %}
                        </ul>
                    </div>

                    {% if is_therapist %}
                        <div class="portfolio-description">
                            <h2>Therapist Summary:</h2>
                            <p>
                                {{ object.profile.self_summary }}
                            </p>
                        </div>
                        </div>
                    {% endif %}

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

{% endblock %}